<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Events</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row justify-content-start">
        <div class="col-3">
            <nav class="nav nav-pills flex-column" aria-orientation="vertical">
                <a class="flex-sm-fill text-sm-center nav-link" th:href="@{home}">Home</a>
                <a class="flex-sm-fill text-sm-center nav-link active">Events</a>
                <a class="flex-sm-fill text-sm-center nav-link" th:href="@{members}">Members</a>
            </nav>
        </div>
        <div class="col col-lg-3">
            <button type="button" class="btn btn-outline-dark btn-lg btn-block disabled">EVENTS</button>
            <div class="list-group" th:each="event : ${events}">
                <a th:href="'events/' + ${event.id}"
                   class="list-group-item list-group-item-action">
                    <span th:text="${event.name}"></span>
                    <br/>
                    <span th:text="${event.date}"></span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>