<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Member</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>

<div class="jumbotron">
    <div class="container">
        <h1>Pierwszy nagłówek</h1>
        <p>Przykładowy paragraf</p>
        <button class="btn btn-primary btn-lg">Zapraszam</button>
    </div>
</div>

<span>Member:</span>
<br/>
<span th:text="${member.firstname}+' '+${member.lastname}"></span>
<br/>
<ul th:each="permission : ${member.permissions}">
    <li th:text="${permission.role}"></li>
</ul>
</body>
</html>